@using Piruzram.ViewModel
@model ProductViewModel

@{
    ViewData["Title"] = @Model.Id == 0 ? "جدید" : "ویرایش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@ViewData["Title"]</h1>

<h4>محصول</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Save">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input asp-for="Id" class="form-control" hidden />
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>

                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>

                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>

                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="@Model.CategoriesDropDown">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
                @if (Model.Id != 0)
                {
                    for (var i = 0; i < Model.ProductImages.Count(); i++)
                    {
                        <label asp-for="@Model.ProductImages[i].ImageAddress" class="control-label"></label>
                        <input asp-for="@Model.ProductImages[i].ImageAddress" class="form-control" />
                        <span asp-validation-for="@Model.ProductImages[i].ImageAddress" class="text-danger"></span>
                    }
                    <a asp-action="Details">جزییات</a>
                    <a value="افزودن تصویر" class="btn btn-primary AddPhoto"><i class="bi bi-plus"></i></a>
                }

            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
            $(document).ready(function () {
                $(".table").on("click", ".AddPhoto", function () {
                    var button = $(this);
                    
                    $("p").append("Some appended text.");
                });
            });
        </script>
    }